In [49]:
import requests
import pandas as pd
import time

In [50]:
# grab API keys
API_KEY = "XXXX"
CHANNEL_ID = "XXX"

In [51]:
# response
response['items'][0]

{'kind': 'youtube#searchResult',
 'etag': 'bNwWWIP0dmLAf0YLyx_imx0p708',
 'id': {'kind': 'youtube#video', 'videoId': 'o8cFJmI50Dw'},
 'snippet': {'publishedAt': '2022-08-11T15:00:25Z',
  'channelId': 'UCW8Ews7tdKKkBT6GdtQaXvQ',
  'title': 'STRING_AGG Function to Solve Data Science Interview Questions',
  'description': 'This video shows you how to use the STRING_AGG function during technical data science interviews. Despite its relatively ...',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/o8cFJmI50Dw/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/o8cFJmI50Dw/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/o8cFJmI50Dw/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'StrataScratch',
  'liveBroadcastContent': 'none',
  'publishTime': '2022-08-11T15:00:25Z'}}

In [52]:
def get_video_details(video_id):
    
        # collecting view, like, favorit, comment counts
        url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY
        response_video_stats = requests.get(url_video_stats).json()

        view_count = response_video_stats['items'][0]['statistics']['viewCount']
        like_count = response_video_stats['items'][0]['statistics']['likeCount']
        favorite_count = response_video_stats['items'][0]['statistics']['favoriteCount']
        comment_count = response_video_stats['items'][0]['statistics']['commentCount']
        
        return view_count, like_count, favorite_count, comment_count

In [53]:
def get_videos(df):

    # make API call
    pageToken = ""
    url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken #'https://api.github.com'

    response = requests.get(url).json()
    time.sleep(1)
    
    for video in response['items']:
        if video['id']['kind'] == "youtube#video":

            video_id = video['id']['videoId']
            video_title = video['snippet']['title']
            video_title = str(video_title).replace("&amp;","")
            upload_date = video['snippet']['publishedAt']
            upload_date = str(upload_date).split("T")[0]

            view_count, like_count, favorite_count, comment_count = get_video_details(video_id)

            # save datain pandas df
            df = df.append({'video_id': video_id, 'video_title': video_title, 'upload_date': upload_date, 
                           'view_count': view_count, 'like_count': like_count, 
                            'favorite_count': favorite_count, 'comment_count': comment_count}, ignore_index=True)

    
    return df

In [54]:
# main

# build our dataframe
df = pd.DataFrame(columns=["video_id", "video_title", "upload_date", "view_count", "like_count", "favorite_count", "comment_count"])

df = get_videos(df)

df

,video_id,video_title,upload_date,view_count,like_count,favorite_count,comment_count
0,o8cFJmI50Dw,STRING_AGG Function to Solve Data Science Inte...,2022-08-11,321,22,0,1
1,ggZzHnzYH1s,How To Use Python Window Functions | Solving A...,2022-08-03,2029,91,0,5
2,8zeLdtkY2CQ,Data Science Mock Interview | Salesforce SQL C...,2022-06-17,5187,155,0,22
3,tnoOz6MzTPg,Python cumsum() | Solving Python Optimization ...,2022-05-11,2335,77,0,10
4,OzyHfddLj9g,How to Solve a SQL Interview Question Using WH...,2022-04-13,6755,150,0,11
5,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,2022-03-22,5086,151,0,23
6,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,2022-03-10,3283,95,0,4
7,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2022-03-02,4712,119,0,8
8,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,2022-02-08,8393,234,0,25
9,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,2022-01-27,4739,113,0,6
10,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,2022-01-10,19539,481,0,27
11,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,2021-12-22,12989,531,0,49
12,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,2021-11-04,4821,215,0,32
13,GeJUvdkJKEc,Multiple Solutions to Data Scientist Interview...,2021-10-11,9489,251,0,42
14,GGURenNfXI0,Multiple Approaches for Solving a Twitter Data...,2021-09-13,5433,200,0,34
15,PlpUo6bHsBQ,Advanced Facebook Data Science SQL interview q...,2021-08-09,24461,727,0,73
16,uY2wfR8Dkqo,5 Tips for a Successful Data Science Interview,2021-07-26,11386,288,0,40
17,yY7yau9j3xk,Data Science SQL Scenario Based Interview Ques...,2021-07-20,7246,179,0,30
18,i-E4pdU2qXM,Data Science SQL Interview Question Walkthroug...,2021-07-13,8383,299,0,24
19,T1UhSuKqy3A,Most Common Data Science SQL Interview Questio...,2021-06-15,13591,448,0,42
20,2iE3JgNTwVU,A Walkthrough of Data Science SQL Interview Qu...,2021-06-04,5712,174,0,30
21,RgKMbpEylWA,Comparing FAANG vs Non-FAANG Data Science Inte...,2021-05-24,3128,103,0,14
22,giGIPINLqJs,An Analysis of 900 Data Science Interview Ques...,2021-05-13,4364,179,0,12
23,77IVf0zgmwI,Importing a Pandas Dataframe to a Database in ...,2021-05-05,23107,712,0,77
24,xtbMCAVXDmU,Facebook and Microsoft Data Science SQL interv...,2021-04-15,9941,283,0,58
25,fklHBWow8vE,Working with APIs in Python [For Your Data Sci...,2021-04-02,53549,2356,0,144
26,tNXliLTlrV8,Step-by-step Approach to Solving Any Data Scie...,2021-03-24,10699,359,0,34
27,XRwxYOhHdE8,Facebook&#39;s Most Common Data Science SQL In...,2021-03-10,36434,879,0,59
28,pV_mnZgzXEo,Coding Concepts in Data Science Interviews in ...,2021-03-03,5677,279,0,31
29,c4Af2FcgamA,The One and Only Data Science Project You Need,2021-02-24,220702,13062,0,279
30,QenwDm5oWdU,Advanced Data Science SQL Interview Question [...,2021-02-17,28059,895,0,110
31,TYHWv1vT0Pk,Common Date Manipulations on Data Science SQL ...,2021-02-11,18540,675,0,80
32,0GpgMvyN0Fg,How I Learned Data Science (resources to get a...,2021-02-04,15724,948,0,48
33,VYeevsVj4fU,Advanced SQL Questions From Amazon (Handling c...,2021-01-27,24742,693,0,80
34,vLjAG9eXkcU,Solving Complex SQL Interview Questions [How t...,2021-01-20,11942,370,0,61
35,lG0PbUq4wkg,Top Data Science Interview Questions in 2021 [...,2021-01-13,5960,223,0,25
36,j8kGqAAIhxA,Top Data Science Interview Question And Answer...,2021-01-06,5040,164,0,29
37,W_IERUwElkg,SQL Case Statements For Data Science Interview...,2020-12-28,38708,1300,0,87
38,eC7MdwKCCOE,Tricky Data Science Interview Question [By Fac...,2020-12-22,4919,160,0,32
39,XBE09l-UYTE,SQL Window Functions on Data Science Interview...,2020-12-17,69497,2287,0,163
40,C0hk-dZ9XSE,SQL Window Functions In a Data Science Intervi...,2020-12-10,4486,162,0,27
41,N0aHeKyNEto,Applying Software Engineering Principles To Yo...,2020-12-03,3209,139,0,43
42,TDwy1lSjEZo,Automating Your Data Science Tasks In Python (...,2020-11-24,12223,350,0,57
43,EPUayNC5ku4,SQL Coding Interview Question Using A Window F...,2020-11-19,69831,2043,0,150
44,wqBFgaMgFQA,Solve Data Science Tasks In Python (Saving Hou...,2020-11-15,26710,804,0,78
45,IKw0lkmBHNI,Solving an Airbnb Data Science Coding Intervie...,2020-11-11,6519,146,0,22
46,_gy1o9UH2dQ,Hard SQL Interview Question From FACEBOOK | Da...,2020-11-04,24439,528,0,76
47,7Q-2DEwHW7w,Solving a SQL Interview Question by FACEBOOK |...,2020-10-29,6703,126,0,21
48,pFwYjaeKFvQ,Solving a Facebook Data Science Interview Ques...,2020-10-22,5023,78,0,16
49,iR8FDQyCtnw,SQL Interview Questions From MICROSOFT | Expen...,2020-10-20,2824,64,0,5